/* Configuração universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* Ajustes da barra de navegação no cabeçalho */
/* para criar um menu fixo, posso utilizar o position:fixed, e definir algumas características para ele se comportar, como: top: 0, z-index:1 e medir a altura do menu para calcular de onde o corpo do site começará */
nav {
  position: fixed;/* <==*/
  top: 0; /* <==*/
  z-index: 1;/* <==*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem;
  background-color: #5fa8d3;
  width: 100%;
}
nav img {
  margin-left: 1rem;
  }
  nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 1rem;
    justify-content: space-between;
    height: 100px;
}
ul li {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}
li a {
  font-family: "Orbitron";
  text-decoration: none !important;
  color: black !important;
  font-size: 1.2rem;
  font-weight: 600;
}
a:hover {
  text-decoration: underline !important;
}

/* Ajustes no corpo do site */
/* A seguir posso configurar títulos no estilo glossário utilizando a propriedade position:sticky, e definir a altura de onde começa o body, assim como 'top:0' para começar grudado ao menu */
body{
  position: relative;/* <==*/
  top: 100px;/* <==*/
}
.list-table h2{
  position: sticky;/* <==*/
  background-color: greenyellow;/* <==*/
  top: 100px;/* <==*/
}
h1 {
  font-size: 2.4rem;
  text-align: center;
  margin: 1rem;
}
h2 {
  font-weight: 600;
  text-align: center;
  margin: 0.5rem;
  position: sticky;
}
table {
  width: 90%;
  border-collapse: collapse;
  margin: 0.2rem;
  text-align: justify;
}
table th, table td {
  padding: 0.3rem;
  border: 1px solid black;
  background-color: #cae9ff;
}
/*pseudo-classe utilizada para estilizar o cabeçalho das tabelas*/
table th:nth-child(n + 1) {
  background-color: #5fa8d3;
  color: #f8f9fa;
  text-align: center;
}
