*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  color: #fff;
}
.container{
  display: flex;
  flex: 1;
  width: 37rem;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 6px;
  background: #061727;
}
.container div{
  width: 5rem;
  height: 10rem;
  flex-grow: 1;
  transition: all 0.3s;
  border-radius: 6px;
}
.container div:hover{
  flex-grow: 5;
}
.container div:nth-child(odd){
  background: #605DFF;
}
.container div:nth-child(even) {
  background: #F2BE4E;
}